<div id="<%= dom_id staff %>">
  <p>
    <strong>First name:</strong>
    <%= staff.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= staff.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= staff.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= staff.role %>
  </p>

</div>
