<%= form_with(model: cate) do |form| %>
<% if cate.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(cate.errors.count, "error") %> prohibited this cate from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% cate.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :cate_name, class: label_class %>
          <%= form.text_field :cate_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :description, class: label_class %>
          <%= form.text_field :description, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary')%>

<% if cate.persisted? %>
<%= link_to "Cancel", cate, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", cates_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
